* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {
  list-style: none;
  color: white;
  text-align: center;
  margin-top: 0.5em;
}

.head {
  background-color: #eee;
  padding-bottom: 40px;
  position: relative;
}
h1 {
  text-align: center;
}

.image {
  width: 100%;
  display: flex;
  position: absolute;

  margin: 20px;
}

.image img {
  width: 100%;
}

.box {
  height: 100%;
  background: #eee;

  border-radius: 5%;
  position: relative;
  transition: all ease 2s;
}
.box:hover {
  transform: scale(1.1);
  transition: all ease 2s;
  box-shadow: 1px 2px 15px rgb(27, 27, 27);
}
.cost {
  padding-bottom: 20px;
}

.h2 {
  float: left;
  text-align: center;
}
.h3 {
  float: left;
}
.col-2 {
  float: left;
  padding-top: 400px;
}

.input {
  float: right;
  border-radius: 30%;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.input:hover {
  background: black;
  color: #eee;
}
#journey {
  width: 200px;
  padding: 0% !important;

  margin: 50px;
  padding-left: 50px;
}

.sect-1 {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 5px;
  margin-left: 12em;
  margin-top: 2em;
}

.card {
  border: 1px solid grey;
  width: 70%;
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: teal;
}

.morning {
  position: absolute;
  top: 10em;
  left: 10px;
}
